html, body {
    background: #f9f9f9;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.site {
    overflow: auto;
    width: 900px;
    margin: auto;
    background: white;
    height: 100%;
}

.content {
    position: relative;
    margin: 46px 0 46px 0;
}

.content h1, .content h3 {
    text-align: center;
}

.content h5 {
    margin: 7px 0 0 50px;
    font-size: 130%;
}

.top-line, .bottom-line {
    height: 46px;
    width: 100%;
    position: absolute;
    left: 0;
}

.top-line {
    background-color: #fffbb3;
    top: 0;
}

.bottom-line {
    background-color: #b3e6fa;
    bottom: 0;
}