.figures {
    height: 250px;
    margin-bottom: 20px;
}

.figure {
    position: absolute;
    z-index: 1;
}

.figure.lg {
    width: 135px;
    height: 135px;
}

.figure.md {
    width: 100px;
    height: 100px;
}

.figure.sm {
    width: 61px;
    height: 61px;
}

.block {
    height: 300px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.container.hover {
    box-shadow: 0 0 10px rgba(68, 166, 255, 0.50);
    border-color: rgba(68, 166, 255, 0.70);
}

.error {
    background: #cb524e;
}

.success {
     background: #74cb76;
 }

.buttons .btn{
    margin: 20px auto;
    display: block;
}