.images {
    height: 120px;
    margin-bottom: 20px;
}

.img {
    max-width: 100px;
    max-height: 110px;
    position: absolute;
}

.container {
    margin: 20px auto;
    width: 90%;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #000;
}

.container.hover {
    box-shadow: 0 0 10px rgba(68, 166, 255, 0.50);
    border-color: rgba(68, 166, 255, 0.70);
}

.error {
    background: #cb524e;
}

.success {
     background: #74cb76;
 }

.next {
    float: right;
    margin-right: 10px;
}

.prev {
    margin-left: 10px;
}

.buttons .btn{
    margin: 20px auto;
    display: block;
}