<div ng-controller="lessonController">

    <h3>Сравни группы одинаковых фигур по количеству и поставь в квадратике знак ">" или "<":</h3>

    <div class="row">
        <div class="col-md-5">
            <div class="block">
                <ul>
                    <li class="line" ng-repeat="data in lessonData">
                        <img ng-repeat="num in data.content[0] track by $index"
                             ng-src="1_15_1/img/{{ data.type }}-{{ num }}.jpg">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="block">
                <div class="btns">
                    <div class="btn-group line" ng-repeat="data in lessonData">
                        <label data-sign="{{ data.sign }}" class="btn btn-default"
                               ng-model="data.model" btn-radio="1"><</label>
                        <label data-sign="{{ data.sign }}" class="btn btn-default"
                               ng-model="data.model" btn-radio="2">></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="block">
                <ul>
                    <li class="line" ng-repeat="data in lessonData">
                        <img ng-repeat="num in data.content[1] track by $index"
                             ng-src="1_15_1/img/{{ data.type }}-{{ num }}.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>