<div class="modal-header">
    <h3 class="modal-title">Задание выполнено!</h3>
</div>
<div class="modal-body">
    <h4>Вы выполнили задание!</h4>
    <ul>
        <li>
            <button  ng-click="cancel()" class="btn btn-default">
                Отлично!
            </button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Закрыть</button>
</div>