.block .line {
    border: 1px solid #000000;
    display: block;
    padding: 2px;
    margin: 3px;
    height: 72px;
}

.block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block ul li {
    overflow: auto;
    height: 69px;
}

.btns {
    margin: 21px auto;
    width: 78px;
}

.btn-group.line {
    border: none;
}

.block img {
    width: 65px;
    height: 65px;
    background-size: 100%;
}