<div ng-controller="lessonController">
    <h1>Задание {{ taskNumber }}</h1>

    <h3>{{ task.text }}</h3>

    <h5>{{ task.first }}:</h5>
    <div class="{{ task.firstClass }}"></div>

    <div class="images">
        <img data-number="4" class="img im1" src="1_7_10/img/1.png" style="left: 28px; top: 323px;">
        <img data-number="16" class="img im2" src="1_7_10/img/2.png" style="left: 110px; top: 303px;">
        <img data-number="30" class="img im3" src="1_7_10/img/3.png" style="left: 180px; top: 347px;">
        <img data-number="2" class="img im4" src="1_7_10/img/4.png" style="left: 280px; top: 306px;">
        <img data-number="15" class="img im5" src="1_7_10/img/5.png" style="left: 370px; top: 345px;">
        <img data-number="70" class="img im6" src="1_7_10/img/6.png" style="left: 470px; top: 324px;">
        <img data-number="7" class="img im7" src="1_7_10/img/7.png" style="left: 570px; top: 332px;">
        <img data-number="12" class="img im8" src="1_7_10/img/8.png" style="left: 640px; top: 328px;">
        <img data-number="90" class="img im9" src="1_7_10/img/9.png" style="left: 750px; top: 329px;">
    </div>

    <h5>{{ task.second }}</h5>
    <div class="{{ task.secondClass }}"></div>

    <div class="buttons">

        <div class="row">
            <div class="col-md-4">
                <button ng-hide="taskNumber == 1" ng-click="prev();" class="btn btn-default">Предыдущее задание</button>
            </div>
            <div class="col-md-4">
                <div ng-show="complete">
                    <button type="button" class="btn btn-success active">Выполнено</button>
                </div>
            </div>
            <div class="col-md-4">
                <button ng-hide="taskNumber == 3" ng-click="next();" class="btn btn-default">Следующее задание</button>
            </div>
        </div>

    </div>

</div>