<div ng-controller="lessonController">

    <h1>Задание {{ taskNumber }}</h1>

    <h3>Объедини геометрические фигуры в группы по {{ task.text }}:</h3>

    <div class="figures">
        <div data-figure="round" data-size="lg" data-color="red" class="figure lg" style="left: 13px; top: 83px;"></div>
        <div data-figure="rect" data-size="md" data-color="blue" class="figure md"
             style="left: 159px; top: 93px;"></div>
        <div data-figure="triangle" data-size="sm" data-color="green" class="figure sm"
             style="left: 267px; top: 113px;"></div>
        <div data-figure="triangle" data-size="lg" data-color="blue" class="figure lg"
             style="left: 363px; top: 94px;"></div>
        <div data-figure="rect" data-size="lg" data-color="green" class="figure lg"
             style="left: 517px; top: 100px;"></div>
        <div data-figure="round" data-size="md" data-color="green" class="figure md"
             style="left: 193px; top: 219px;"></div>
        <div data-figure="rect" data-size="sm" data-color="red" class="figure sm"
             style="left: 375px; top: 242px;"></div>
        <div data-figure="triangle" data-size="md" data-color="red" class="figure md"
             style="left: 541px; top: 243px;"></div>
        <div data-figure="round" data-size="sm" data-color="blue" class="figure sm"
             style="left: 716px; top: 246px;"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="block"></div>
        </div>
        <div class="col-md-4">
            <div class="block"></div>
        </div>
        <div class="col-md-4">
            <div class="block"></div>
        </div>
    </div>

    <div class="buttons">

        <div class="row">
            <div class="col-md-4">
                <button ng-hide="taskNumber == 1" ng-click="prev();" class="btn btn-default">Предыдущее задание</button>
            </div>
            <div class="col-md-4">
                <div ng-show="complete">
                    <button type="button" class="btn btn-success active">Выполнено</button>
                </div>
            </div>
            <div class="col-md-4">
                <button ng-hide="taskNumber == 3" ng-click="next();" class="btn btn-default">Следующее задание</button>
            </div>
        </div>

    </div>

</div>