<div class="modal-header">
    <h3 class="modal-title">Задание выполнено!</h3>
</div>
<div class="modal-body">
    <h4>Вы выполнили задание!</h4>
    <ul ng-hide="parentScope.taskNumber == 3">
        <li ng-hide="parentScope.taskNumber == 1">
            <button ng-click="parentScope.prev();" class="btn btn-default">
                Предыдущее задание
            </button>
        </li>
        <li>
            <button ng-click="parentScope.next();" class="btn btn-default">
                Следующее задание
            </button>
        </li>
    </ul>
    <ul ng-show="parentScope.taskNumber == 3">
        <li>
            <button  ng-click="cancel()" class="btn btn-default">
                Отлично!
            </button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Закрыть</button>
</div>