<div>

    <h1>Выбор списка уроков</h1>

    <ul>
        <li>
            <h4>Урок 1_7_10</h4>
            <ul>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_7_10/lesson/1">Задание 1</a></li>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_7_10/lesson/2">Задание 2</a></li>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_7_10/lesson/3">Задание 3</a></li>
            </ul>
        </li>
        <li>
            <h4>Урок 1_1_7</h4>
            <ul>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_1_7/lesson/1">Задание 1</a></li>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_1_7/lesson/2">Задание 2</a></li>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_1_7/lesson/3">Задание 3</a></li>
            </ul>
        </li>
        <li>
            <h4>Урок 1_15_1</h4>
            <ul>
                <li><a onclick="location.href = this.href; location.reload(); return false;" href="index.html#/1_15_1/lesson">Задание 1</a></li>
            </ul>
        </li>
    </ul>

</div>